<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= tenant.customText?.newCommissionTitle %></h1>
<p><%= tenant.customText?.createEstimatedTime %></p>
<% var step = 1; fields.forEach(field => { %>
<div class="inputField <%= field.required ? 'required' : '' %>" id="<%= field.id %>" step="<%= step %>">
	<h3><%= field.label %><%= field.required ? '*' : '' %></h3>
	<p><%= field.required ? (tenant.customText?.labelRequired) : (tenant.customText?.labelOptional) %><%= field.description ? ': ' + field.description : '' %></p>
	<% if (field.type === 'textarea') { %>
	<textarea id="<%= field.id %>Textarea" placeholder="<%= field.placeholder || '' %>"></textarea>
	<% } else if (field.type === 'checkbox') { %>
	<input id="<%= field.id %>Input" type="checkbox" class="hidden">
	<div class="checkbox">|||</div>
	<% } else if (field.type === 'radio') { %>
	<div class="radioOptions">
		<% if (!field.required) { %>
		<div class="radioOption">
			<input type="radio" id="none" name="none" value="">
			<label for="none"><%= tenant.customText?.noneLabel %></label>
		</div>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<div class="radioOption">
			<input type="radio" id="<%= field.id %>-<%= option.value %>" name="<%= option.value %>" value="<%= option.value %>">
			<label for="<%= field.id %>-<%= option.value %>"><%= option.label %></label>
		</div>
		<% }) %>
	</div>
	<% } else if (field.type === 'select') { %>
	<select id="<%= field.id %>Select">
		<% if (!field.required) { %>
	<option value=""><%= tenant.customText?.noneLabel %></option>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<option value="<%= option.value %>"><%= option.label %></option>
		<% }) %>
	</select>
	<% } else if (field.type === 'multiselect') { %>
	<select id="<%= field.id %>Select" multiple>
		<% if (!field.required) { %>
		<option value=""><%= tenant.customText?.noneLabel %></option>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<option value="<%= option.value %>"><%= option.label %></option>
		<% }) %>
	</select>
	<% } else { %>
	<input id="<%= field.id %>Input" type="<%= field.type %>" placeholder="<%= field.placeholder || '' %>">
	<% } %>
</div>
<% step++; }) %>
<div class="buttons">
	<div id="back" class="button hidden"><%= tenant.customText?.backLabel %></div>
	<div id="next" class="button active hidden"><%= tenant.customText?.nextLabel %></div>
	<div id="start" class="button active"><%= tenant.customText?.startLabel %></div>
	<div id="create" class="button active hidden"><%= tenant.customText?.createLabel %></div>
	<a id="success" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>"><%= tenant.customText?.returnLabel %></a>
	<a id="error" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>/create"><%= tenant.customText?.restartLabel %></a>
</div>
<%- include('foot.ejs') %>