<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>New commission</h1>
<p>Estimated time to complete: 2 minutes</p>
<% var step = 1; fields.forEach(field => { %>
<div class="inputField <%= field.required ? 'required' : '' %>" id="<%= field.id %>" step="<%= step %>">
	<h3><%= field.label %><%= field.required ? '*' : '' %></h3>
	<p><%= field.required ? 'Required' : 'Optional' %><%= field.description ? ': ' + field.description : '' %></p>
	<% if (field.type === 'textarea') { %>
	<textarea placeholder="<%= field.placeholder || '' %>"></textarea>
	<% } else if (field.type === 'checkbox') { %>
	<input type="checkbox" class="hidden">
	<div class="checkbox" change="cms">|||</div>
	<% } else if (field.type === 'radio') { %>
	<div class="radioOptions">
		<% if (!field.required) { %>
		<div class="radioOption">
			<input type="radio" id="none" name="none" value="">
			<label for="none">None</label>
		</div>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<div class="radioOption">
			<input type="radio" id="<%= field.id %>-<%= option.value %>" name="<%= option.value %>" value="<%= option.value %>">
			<label for="<%= field.id %>-<%= option.value %>"><%= option.label %></label>
		</div>
		<% }) %>
	</div>
	<% } else if (field.type === 'select') { %>
	<select id="<%= field.id %>Select">
		<% if (!field.required) { %>
		<option value="">None</option>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<option value="<%= option.value %>"><%= option.label %></option>
		<% }) %>
	</select>
	<% } else { %>
	<input type="<%= field.type %>" placeholder="<%= field.placeholder || '' %>">
	<% } %>
</div>
<% step++; }) %>
<div class="buttons">
	<div id="back" class="button hidden" onclick="back();">Back</div>
	<div id="next" class="button active hidden" onclick="next();">Next</div>
	<div id="start" class="button active" onclick="start();">Start</div>
	<div id="create" class="button active hidden" onclick="create();">Create</div>
	<a id="success" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>">Return</a>
	<a id="error" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>/create">Restart</a>
</div>
<%- include('foot.ejs') %>