<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= title %></h1>
<% if (role === 'admin') { %>
<% if (!vars.disableFieldEditing.includes('status')) { %>
<div class="inputField active" id="status">
	<h3>Status*</h3>
	<p>Required: Commission status.</p>
	<select id="statusSelect">
		<% vars.possibleStatuses.forEach(option => { %>
		<option value="<%= option.value %>" <%= (option.value === commission.status) ? 'selected' : '' %>><%= option.label %></option>
		<% }) %>
	</select>
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('owner')) { %>
<div class="inputField active" id="owner">
	<h3>Owner*</h3>
	<p>Required: Commission owner.</p>
	<% if ((vars.users || []).filter(user => getUserRole(user) === 'user').length) { %>
	<select id="ownerSelect">
		<option value="">None</option>
		<% vars.users.filter(user => getUserRole(user) === 'user').forEach(user => { %>
		<option value="<%= user[vars.userId] %>" <%= (commission.user === user[vars.userId]) ? 'selected' : '' %>><%= user[vars.userName] ? `${user[vars.userName]} (${user[vars.userId]})` : user[vars.userId] %></option>
		<% }) %>
	</select>
	<% } else { %>
	<input id="ownerInput" type="text" placeholder="<%= commission.user %>" value="<%= commission.user %>">
	<% } %>
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('amount')) { %>
<div class="inputField active" id="amount">
	<h3>Amount</h3>
	<p>Optional: Commission amount.</p>
	<input id="amountInput" type="number" step="0.01" placeholder="<%= (commission.amount !== null) ? commission.amount : '' %>" value="<%= (commission.amount !== null) ? commission.amount : '' %>">
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('currency')) { %>
<div class="inputField active" id="currency">
	<h3>Currency</h3>
	<p>Optional: Commission currency.</p>
	<input id="currencyInput" type="text" placeholder="<%= (commission.currency !== null) ? commission.currency : '' %>" value="<%= (commission.currency !== null) ? commission.currency : '' %>">
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('date')) { %>
<div class="inputField active" id="date">
	<h3>Date</h3>
	<p>Optional: Commission creation date.</p>
	<input id="dateInput" type="datetime-local" placeholder="<%= (commission.date !== null) ? new Date(commission.date).toISOString().slice(0,16) : '' %>" value="<%= (commission.date !== null) ? new Date(commission.date).toISOString().slice(0,16) : '' %>">
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('locked')) { %>
<div class="inputField active" id="locked">
	<h3>Locked</h3>
	<p>Optional: Whether or not the commission is locked from user editing.</p>
	<input id="lockedInput" type="checkbox" class="hidden" <%= commission.locked ? 'checked' : '' %>>
	<div class="checkbox" change="lockedInput">|||</div>
</div>
<% } %>
<% if (!vars.disableFieldEditing.includes('assignedTo')) { %>
<div class="inputField active" id="assignedTo">
	<h3>Assigned To</h3>
	<p>Optional: The developer to assign this commission to.</p>
	<% if ((vars.users || []).filter(user => getUserRole(user) !== 'user').length) { %>
	<select id="assignedToSelect" multiple>
		<option value="">None</option>
		<% vars.users.filter(user => getUserRole(user) !== 'user').forEach(user => { %>
		<option value="<%= user[vars.userId] %>" <%= ((commission.assignedTo || []).includes(user[vars.userId])) ? 'selected' : '' %>><%= user[vars.userName] ? `${user[vars.userName]} (${user[vars.userId]})` : user[vars.userId] %></option>
		<% }) %>
	</select>
	<% } else { %>
	<p>No developers found.</p>
	<% } %>
</div>
<% } %>
<% } %>
<% if (role !== 'dev') { %>
<% fields.forEach(field => { %>
<div class="inputField active <%= field.required ? 'required' : '' %>" id="<%= field.id %>">
	<h3><%= field.label %><%= field.required ? '*' : '' %></h3>
	<p><%= field.required ? 'Required' : 'Optional' %><%= field.description ? ': ' + field.description : '' %></p>
	<% if (field.type === 'textarea') { %>
	<textarea id="<%= field.id %>Textarea" placeholder="<%= field.placeholder || '' %>" <%= field.required ? 'required' : '' %>></textarea>
	<% } else if (field.type === 'checkbox') { %>
	<input id="<%= field.id %>Input" type="checkbox" class="hidden">
	<div class="checkbox" change="<%= field.id %>Input">|||</div>
	<% } else if (field.type === 'radio') { %>
	<div class="radioOptions">
		<% if (!field.required) { %>
		<div class="radioOption">
			<input type="radio" id="none" name="none" value="">
			<label for="none">None</label>
		</div>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<div class="radioOption">
			<input type="radio" id="<%= field.id %>-<%= option.value %>" name="<%= option.value %>" value="<%= option.value %>">
			<label for="<%= field.id %>-<%= option.value %>"><%= option.label %></label>
		</div>
		<% }) %>
	</div>
	<% } else if (field.type === 'select') { %>
	<select id="<%= field.id %>Select">
		<% if (!field.required) { %>
		<option value="">None</option>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<option value="<%= option.value %>"><%= option.label %></option>
		<% }) %>
	</select>
	<% } else { %>
	<input id="<%= field.id %>Input" type="<%= field.type %>" placeholder="<%= field.placeholder || '' %>" <%= field.required ? 'required' : '' %>>
	<% } %>
</div>
<% }) %>
<% } %>
<% if (role !== 'user') { %>
<div class="inputField active" id="sendEmail">
	<h3>Send Email</h3>
	<p>Optional: Send an email to the user regarding this update.</p>
	<input id="sendEmailInput" type="checkbox" class="hidden">
	<div class="checkbox" change="sendEmailInput">|||</div>
</div>
<% } %>
<div class="buttons">
	<% if (!commission.locked || (role !== 'user')) { %><div id="save" class="button">Save</div><% } %>
	<a id="error" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>/<%= commission.id %>/edit">Restart</a>
</div>
<script>
	const commissionId = '<%= commission.id %>';
	const restore = <%- JSON.stringify(commission.fields) %>;
</script>
<%- include('foot.ejs') %>