<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= title %></h1>
<% fields.forEach(field => { %>
<div class="inputField active <%= field.required ? 'required' : '' %>" id="<%= field.id %>">
	<h3><%= field.label %><%= field.required ? '*' : '' %></h3>
	<p><%= field.required ? 'Required' : 'Optional' %><%= field.description ? ': ' + field.description : '' %></p>
	<% if (field.type === 'textarea') { %>
	<textarea id="<%= field.id %>Textarea" placeholder="<%= field.placeholder || '' %>"></textarea>
	<% } else if (field.type === 'checkbox') { %>
	<input id="<%= field.id %>Input" type="checkbox" class="hidden">
	<div class="checkbox" change="cms">|||</div>
	<% } else if (field.type === 'radio') { %>
	<div class="radioOptions">
		<% if (!field.required) { %>
		<div class="radioOption">
			<input type="radio" id="none" name="none" value="">
			<label for="none">None</label>
		</div>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<div class="radioOption">
			<input type="radio" id="<%= field.id %>-<%= option.value %>" name="<%= option.value %>" value="<%= option.value %>">
			<label for="<%= field.id %>-<%= option.value %>"><%= option.label %></label>
		</div>
		<% }) %>
	</div>
	<% } else if (field.type === 'select') { %>
	<select id="<%= field.id %>Select">
		<% if (!field.required) { %>
		<option value="">None</option>
		<% } %>
		<% (field.options || []).forEach(option => { %>
		<option value="<%= option.value %>"><%= option.label %></option>
		<% }) %>
	</select>
	<% } else { %>
	<input id="<%= field.id %>Input" type="<%= field.type %>" placeholder="<%= field.placeholder || '' %>">
	<% } %>
</div>
<% }) %>
<div class="buttons">
	<% if (!commission.locked || (role !== 'user')) { %><div id="save" class="button">Save</div><% } %>
	<a id="error" class="button active hidden" href="<%= tenant.domain %><%= tenant.path %>/<%= commission.id %>/edit">Restart</a>
</div>
<script>
    const commissionId = '<%= commission.id %>';
    const restore = <%- JSON.stringify(commission.fields) %>;
</script>
<%- include('foot.ejs') %>