<%- include('head.ejs') %>
<% if ((typeof tenant !== 'undefined') && tenant && tenant.logo && tenant.name) { %><img src="<%= tenant.logo %>" alt="<%= tenant.name %>"><% } %>
<% if (typeof title !== 'undefined') { %><h1> <%= title || 'Error' %></h1><% } %>
<% if (typeof message !== 'undefined') { %><p><%= message %></p><% } %>
<%- include('foot.ejs') %>