            </div>
        <% if (typeof tenant !== 'undefined') { %>
    <p class="fixed">© <%= new Date().getFullYear() %> <%= tenant.customText?.brandName %></p>
    <p class="fixed2"><%= tenant.customText?.changesSaved %></p>
    <p class="fixed3"><%= tenant.customText?.changesRestored %></p>
    <p class="fixed4"><%= tenant.customText?.backArrow %></p>
    <p class="fixed5"><%= tenant.customText?.clearChanges %></p>
        <% } else { %>
        <p class="fixed">Internal error</p>
        <% } %>
    </main>
    <% if (typeof tenant !== 'undefined') { %>
    <script>
        const appPath = '<%= tenant.domain %><%= tenant.path %>';
    </script>
    <script src="<%= tenant.domain %><%= tenant.path %>/scripts.js" type="module"></script>
    <% } %>
</body>

</html>