            </div>
        <% if (typeof tenant !== 'undefined') { %>
    <p class="fixed">© <%= new Date().getFullYear() %> <%= tenant.customText && tenant.customText.brandName ? tenant.customText.brandName : 'CommTrackr' %></p>
    <p class="fixed2"><%= tenant.customText && tenant.customText.changesSaved ? tenant.customText.changesSaved : 'Changes saved' %></p>
    <p class="fixed3"><%= tenant.customText && tenant.customText.changesRestored ? tenant.customText.changesRestored : 'Changes restored' %></p>
    <p class="fixed4"><%= tenant.customText && tenant.customText.backArrow ? tenant.customText.backArrow : '← Back' %></p>
    <p class="fixed5"><%= tenant.customText && tenant.customText.clearChanges ? tenant.customText.clearChanges : 'Clear changes' %></p>
        <% } else { %>
        <p class="fixed">Internal error</p>
        <% } %>
    </main>
    <% if (typeof tenant !== 'undefined') { %>
    <script>
        const appPath = '<%= tenant.domain %><%= tenant.path %>';
    </script>
    <script src="<%= tenant.domain %><%= tenant.path %>/scripts.js" type="module"></script>
    <% } %>
</body>

</html>