<!DOCTYPE html>
<html lang="en">

<% if (typeof tenant !== 'undefined') { %>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %><%= title && title.length ? ' - ' : '' %><%= tenant.metaTitle %></title>
	<meta name="description" content="<%= tenant.description %>">
	<meta name="keywords" content="commission, commissions">
	<meta name="author" content="CommTrackr">
	<meta name="theme-color" content="<%= tenant.themeColor %>">
	<meta property="og:title" content="<%= title %><%= title.length ? ' - ' : '' %><%= tenant.metaTitle %>">
	<meta property="og:description" content="<%= tenant.description %>">
	<meta property="og:image" content="<%= tenant.banner %>">
	<meta property="og:url" content="<%= tenant.domain %>">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="<%= title %><%= title.length ? ' - ' : '' %><%= tenant.metaTitle %>">
	<meta name="twitter:description" content="<%= tenant.description %>">
	<meta name="twitter:image" content="<%= tenant.banner %>">
	<link rel="icon" href="<%= tenant.logo %>" type="image/png">
	<link rel="apple-touch-icon" href="<%= tenant.logo %>">
	<link rel="stylesheet" href="<%= tenant.domain %><%= tenant.path %>/styles.css">
	<style>
		:root {
			<% if (tenant.forceDarkMode) { %>color-scheme: only dark !important;<% } %>
			<% if (tenant.themeColor) { %>--themeColor: <%= tenant.themeColor %>;<% } %>
		}
	</style>
	<% (tenant.stylesheets || []).forEach(stylesheet => { %>
	<link rel="stylesheet" href="<%= stylesheet %>">
	<% }) %>
	<% (tenant.scripts || []).forEach(script => { %>
	<script src="<%= script %>" defer></script>
	<% }) %>
</head>
<% } %>

<body>
	<main>
		<div class="progress"></div>
		<div class="inner">