<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= tenant.customText && tenant.customText.offTitle ? tenant.customText.offTitle : 'CommTrackr Disabled' %></h1>
<p><%= tenant.customText && tenant.customText.offDescription ? tenant.customText.offDescription : 'Enable CommTrackr for your app using <code>commtrackr.on();</code>' %></p>
<%- include('foot.ejs') %>