<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= tenant.customText?.sessionTitle %></h1>
<p><%= tenant.customText?.noSession %></p>
<%- include('foot.ejs') %>