<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= tenant.customText && tenant.customText.tenantMisconfiguredTitle ? tenant.customText.tenantMisconfiguredTitle : 'Tenant Misconfigured' %></h1>
<p><%= tenant.customText && tenant.customText.tenantMisconfiguredDescription ? tenant.customText.tenantMisconfiguredDescription : 'Configure your CommTrackr tenant using <code>commtrackr.init({ tenant: { ... } });</code>' %></p>
<%- include('foot.ejs') %>