<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1><%= tenant.customText?.tenantMisconfiguredTitle %></h1>
<p><%= tenant.customText?.tenantMisconfiguredDescription %></p>
<%- include('foot.ejs') %>