<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>
	<% if (tenant.auth && tenant.auth.enabled) { %>
	Welcome, <%= session[vars.name] || session[vars.userId] %>!
	<% } else { %>
	<%= tenant.name %> Commissions
	<% } %>
</h1>
<p>View and manage your past commissions.</p>
<div class="buttons">
	<a class="button" href="<%= tenant.domain %><%= tenant.path %>/create">New Commission</a>
	<div id="sync" class="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none">
			<path d="M18.5949 5.16663C16.8618 3.32009 14.3989 2.16663 11.6666 2.16663C6.41992 2.16663 2.16663 6.41992 2.16663 11.6666C2.16663 16.9133 6.41992 21.1666 11.6666 21.1666C14.3989 21.1666 16.8618 20.0132 18.5949 18.1666M17.3236 7.98035L20.9804 7.98035L20.9804 4.3235" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
		</svg> Sync Existing</div>
</div>
<div class="commissions">
	<% session[vars.commissions].forEach(commission => { %>
	<div class="commission">
		<h2><%= commission.id %></h2>
		<p><%= commission.status %></p>
		<a class="button" href="<%= tenant.domain %><%= tenant.path %>/<%= commission.id %>"><%= commission.locked ? 'View' : 'Edit' %></a>
	</div>
	<% }) %>
</div>
<%- include('foot.ejs') %>