<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>
	<% if (tenant.auth && tenant.auth.enabled) { %>
	Welcome, <%= session[vars.name] || session[vars.userId] %>!
	<% } else { %>
	<%= tenant.name %> Commissions
	<% } %>
</h1>
<p>View and manage your past commissions.</p>
<div class="buttons">
	<a class="button" href="<%= tenant.domain %><%= tenant.path %>/create">New Commission</a>
</div>
<%- include('foot.ejs') %>